.statement-list-container {
	position: relative;
	top: 50px;
	width: 40%;
	margin: 0 auto;
	height: 600px;
}

.statement-item-date-group {
  border: 1px solid;
}

.statement-item-date-group > div {
	padding: 10px;
}

.statement-item-title {
	background: #ddd;
}

.statement-item {
	background: #999;
	height: 20px;

	.beneficary, .quantity {
		width: 50%;
		display: inline;
		float: left;
	}
}

