.footer-content {
	.copyright {
		height: 250px;
    padding-top: 70px;
		padding: 20px;
    padding: 0 80px;

		small {
			.copyright-section {
	      height: 50px;
			}
			.copyright-section:first-child {
        padding-top: 50px !important;
			}
		}
	}

	.partners {
		height: 146px;
    padding: 0 80px;
	}

	.partners-label {
		width: 20%;
    padding-top: 60px;
    font-size: 20px;
		float: left;
		display: inline;
	}

	.partners-logo {
		width: 20%;
		min-width: 145px;
		float: left;
		display: inline;
		padding-top: 32px;
	}
}

@media (max-width: 900px) {
	.partners {
    height: 382px !important;
	}

  .partners-label {
    width: 100% !important;
  }

	.partners-logo {
		width: 50% !important;
	}

	.copyright {
		height: 300px !important;
	}

	.copyright-section {
    height: 100px !important;
	}
}

@media (max-width: 450px) {
	.partners {
    height: 550px !important;
	}

  .partners-label {
    width: 100% !important;
  }

	.partners-logo {
		width: 100% !important;
	}

	.copyright {
		height: 500px !important;
	}

	.copyright-section {
    height: 200px !important;
	}
}
