.login-page {
	margin-top: 67px;

	.login-form {
	  margin-top: 27px;

	  input {
	    margin: 26px;
		width: 297px;
	  }

	  button {
	    width: 322px;
	    margin: 2px;
	    margin-bottom: 82px;
	  }
	}
}

@media (max-width: 375px) {
	.login-form {

	  input {
			width: 77% !important;
			margin: 27px 0 !important;
	  }
  }

  .login-page .login-form button {
    width: 90%;
  }
}