@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700);
@import '../abstracts/_variables.scss';

html, h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: semibold;
}

h1, h2, h3 {
  margin: 17px;
}

h1 {
	font-size: 42px;
	line-height: 52px;
}

h2 {
	font-size: 32px;
	line-height: 39px;
}

h3 {
	font-size: 22px;
	line-height: 27px;
}

small {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 21px;
	opacity: 80%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  background-color: #3356fa;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #fff;
}

input {
  font-size: 21px;
  font-weight: normal;
  padding: 13px;
  padding-top: 15px;
  padding-bottom: 9px;
  border: none;
  border-radius: 2px;
}

::-webkit-input-placeholder {
  color: #ddd;
  font-weight: 200;
}

.bg-blue {
	background: $color-blue;
}

.bg-lightblue {
	background: $color-lightblue;
}

.bg-darkblue {
	background: $color-darkblue;
}

.bg-red {
	background: $color-red;
}

.bg-white {
  background: #fff;
}

.color-blue {
  color: $color-blue;
}

.color-black {
  color: #000;
}

button {
	padding: 16px;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-weight: normal;
  font-size: 18px;
  cursor: pointer;
}

