.header-content {
	height: 85px;

	.header-logo {
    position: absolute;
    left: 28px;
    top: 15px;
    width: 110px;
	}

	.header-login {
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 13px;
    width: 84px;
	}
}